html, body
	font-size: 100%
	width: 100%
	height: 100%
body
	font-family: 'Noto sans', "微軟正黑體", sans-serif
	text-rendering: optimizeLegibility
	color: #505050
	overflow-x: hidden
	//overflow-y: hidden
	overflow-y: auto
	line-height: 1
	background-color: white
	cursor: default
	@include box-sizing(border-box)
a:hover
	cursor: pointer
	text-decoration: none

.notes
	font-size: 0.9rem
	color: #757575
	text-indent: 0.5rem
.error_info, .success_info
	font-size: 0.9rem
	text-indent: 0.5rem
	line-height: 1.5
.error_info
	color: $WarnColor
.success_info
	color: $MainGreen
input[type=checkbox], input[type=radio]
	cursor: pointer
	margin: 0
label > input[type=checkbox], label > input[type=radio]
	margin-right: 0.5rem

// Anti-White Color
body *:not(input):not(textarea)
	&::selection
		background: transparent
		color: inherit
	&::-moz-selection
		background: transparent
		color: inherit


.styleBtn
	background: $MainBlue
	border-radius: 4px
	height: 42px
	padding: 0 5px
	font-size: 1.3rem
	font-family: $TitleFont
	cursor: pointer
	display: inline-block
	color: $LightAppleGray
	@include box-shadow(0 3px 0 $ShadowGray)
	@include transition(all 0.3s ease-out)
	&:before
		border-right: 5px solid transparent
		border-left: 5px solid transparent
		border-top: 8px solid #fff
	&:hover
		background-color: $ActionColor-hover
		i
			border-color: #fff
	i
		font-size: 1.3rem
		margin-right: 3px
		//border: $LightAppleGray solid 2px
		border-radius: 100%
		width: 30px
		height: 30px
		display: inline-block
		text-align: center
		vertical-align: middle
		&:before
			vertical-align: middle

.styleForm
	input, select, textarea
		border-radius: 3px
		background: rgba(255, 255, 255, 0.5)
		border: 1px solid rgba(255, 255, 255, 0.5)
		@include transition(all 0.3s ease-out)
		&:not(:disabled):hover, &:not(:disabled):focus
			box-shadow: 0 1px 1px #ccc
			background: #fff
		&:not(:disabled):focus
			outline: none
			border-color: $MainBlue

/*基本tab Style*/
ul.style_tab
	position: relative
	min-height: 200px
	max-width: 1200px
	li
		float: left
		display: block
		margin: 0 auto
		padding: 0
		label
			display: block
			padding: 10px 0 2px 0
			font-size: 0.75rem
			position: relative
			cursor: pointer
			top: 4px
			vertical-align: middle
			color: #74777b
			i
				margin-right: 0.5rem
		div.style_tab_content
			display: none
			width: 100%
			position: absolute
			top: 3.8rem
			left: 0
			z-index: 1
			padding: 20px
			background-color: white
		input[type=radio]
			display: none
			&:checked ~ label
				background-color: white
			&:checked ~ label ~ .style_tab_content
				display: block
/*Line tab Style*/
ul.style_tab_line
	max-width: none
	min-height: 3.1rem
	border-bottom: 1px solid #d1d3d2
	li
		label.style_tab_btn
			padding: 0.7rem 4.8rem 0.9rem 1rem
			border-bottom: 1px solid #d1d3d2
			color: #74777b
			text-align: left
			font-size: 1.4rem
			font-weight: 400
			line-height: 1
			//text-transform: uppercase
			height: calc(3.1rem - 4px)
			font-family: ubuntu //Josefin sans
			&:hover
				color: #74777b
				border-bottom: 1px solid #74777b
				font-weight: 700
		input[type=radio]
			&:checked ~ label.style_tab_btn
				border-bottom: 1px solid #2188cd
				color: #2188cd
				font-weight: 700

/*自訂Select style*/
div.css_select
	display: inline-block
	cursor: pointer
	position: relative
	&.open > div.css_select-optionlist
		display: block
	.css_select-value
		margin-left: 5px
		text-transform: capitalize
		font-weight: 600
		&:after
			content: "\e20b"
			font-family: 'Materialicon'
			margin-left: 10px
			vertical-align: middle
		&:before
			content: "\e5cf"
			font-family: 'Materialicon'
	div.css_select-optionlist
		position: absolute
		width: 265px
		background-color: #fff
		border: #ccc solid thin
		padding: 5px 0
		display: none
		@include box-shadow(3px 3px 10px rgba(230, 230, 230, 0.4))
		input[type=radio], input[type=checkbox]
			display: none
			&:checked ~ i
				display: inline
				color: $MainColor
			&:checked ~ span
				font-weight: 600
				display: inline-block
				color: $MainColor
		label
			display: block
			cursor: pointer
			padding: 0 15px
			height: 35px
			line-height: 2.4
			i.NBicon-check
				display: none
				font-size: 1.3rem
		label.css_select-option
			@include display-flex(flex)
			@include align-items(center)
			@include justify-content(space-between)
			span
				width: 81%
				overflow-x: hidden
				text-overflow: ellipsis
				white-space: nowrap
				display: inline-block
			&:hover
				background-color: $MainColor
				i.icom-tick, span
					color: white !important
		.css_select-message
			text-align: center
			font-size: 0.9rem
			color: #6EB133
		.css_select-certain
			padding: 0
			border-top: #D8D8D8 solid thin
			button
				width: 50%
				font-weight: 600
				cursor: pointer
				&:first-of-type
					color: #2188cd
	p.css_select-title
		color: rgb(175, 175, 175)
		padding: 0 15px
		line-height: 2
	.css_select-scrollbar
		max-height: 200px
		overflow-y: auto
		border-bottom: #e0e0e0 solid thin
		border-top: #e0e0e0 solid thin
		&::-webkit-scrollbar
			width: 10px
			border-left: #e0e0e0 solid thin
		&::-webkit-scrollbar-thumb
			background-color: #999999






//input range 顏色
$rBaseColor: #d5cebc
$rColor: $MainBlue $MainGreen $MainRed $MainBlue
//input range 範圍運算
$rMin: 10
$rMax: 50
$rNumber: $rMax - $rMin
$rU: .5em
//input range 長條尺運算
$rRulerLineWidth: .125em //刻度寬
$rRulerLineHeight: 1em //刻度高
$rRulerGap: .375em //長條刻度與落差
$trackWidth: $rNumber*$rU + $rRulerLineWidth //
$trackHeight: .375em //長條高度(寬)
$trackTotalHeight: $trackHeight + $rRulerGap + $rRulerLineHeight //range總高度(不含控制軸)
//不知道在算什麼
$thumb-d: 1.25em
$thumb-sf: $thumb-d/$rRulerLineWidth
$thumb-m: round(1.5*$rRulerLineHeight/$rRulerLineWidth*3)
$thumb-sh: ()
$thumb-u: $rRulerLineWidth/$thumb-sf/4
$thumb-sh-red: ($thumb-d - $rRulerLineWidth)/2/$thumb-sf
$thumb-sh-off: 1.56*($trackHeight + $rRulerGap)/$thumb-sf
$thumb-sh-n: ()
$thumb-sh-n-red: ($thumb-d - $rRulerLineWidth)/2
$thumb-sh-n-off: 1.5*($trackHeight + $rRulerGap)

@for $i from 1 through $thumb-m 
	$curr: $thumb-sh-off + $i*$thumb-u
	$thumb-sh: $thumb-sh, $curr $curr 0 (-$thumb-sh-red)
	
	@if $i < .56*$thumb-m
		$curr-ms: $thumb-sh-n-off + $i*$rRulerLineWidth/2
		$thumb-sh-n: $thumb-sh-n, $curr-ms $curr-ms 0 (-$thumb-sh-n-red)

@mixin track($flag: null)
	width: $trackWidth
	height: $trackTotalHeight
	background: linear-gradient($rBaseColor, $rBaseColor) no-repeat 50% 0
	background-size: $trackWidth - if($flag == ms, $rRulerLineWidth, 0) $trackHeight

@mixin fill($has-idx:false)
	height: $trackTotalHeight
	box-shadow: inset 0 $trackHeight currentColor
	@if $has-idx == false
		background: linear-gradient(90deg, currentColor $rRulerLineWidth, transparent $rRulerLineWidth) repeat-x 0 100%
		background-size: $rU $rRulerLineHeight

@mixin fill-i($idx)
	background: linear-gradient(90deg, currentColor $rRulerLineWidth, transparent $rRulerLineWidth) repeat-x 0 100%
	background-size: $rU $rRulerLineHeight

@mixin thumb($flag: null)
	border: none
	border-radius: 50% 50% 0
	background: currentColor
	@if $flag == moz
		width: $rRulerLineWidth
		height: $rRulerLineWidth
		box-shadow: $thumb-sh
		@include transform(translateY(-$trackTotalHeight/2 - $thumb-d/sqrt(2)) rotate(45deg) scale($thumb-sf))
	@else
		width: $thumb-d 
		height: $thumb-d
		box-shadow: $thumb-sh-n
		@include transform(translate(1px, -$trackTotalHeight/2 - $thumb-d/sqrt(2)) rotate(45deg))


input[type='range']
	&, &::-webkit-slider-runnable-track, &::-webkit-slider-thumb
		-webkit-appearance: none
	align-self: center
	border: solid 0 transparent
	border-width: 0 $thumb-d
	padding: 0
	width: $trackWidth
	height: 3*$trackTotalHeight
	opacity: .65
	background: linear-gradient(90deg, $rBaseColor $rRulerLineWidth, transparent $rRulerLineWidth) repeat-x 0 $trackTotalHeight + $trackHeight + $rRulerGap content-box
	background-size: $rU $rRulerLineHeight
	font-size: 1em
	cursor: pointer

	&::-webkit-slider-runnable-track
		position: relative
		@include track(webkit)
	&::-moz-renge-track
		@include track()
	&::-ms-track
		margin-left: $thumb-d/2
		border: none
		@include track(ms)
		color: transparent
	&::-moz-range-progress
		@include fill()
	&::-ms-fill-lower
		@include fill(false)
	&::-webkit-slider-thumb
		position: relative
		margin-left: -$rRulerLineWidth/2
		margin-top: ($trackTotalHeight - $thumb-d)/2
		@include thumb()
	&::-moz-renge-thumb
		@include thumb(moz)
	&::-ms-thumb
		@include thumb()

	&::-ms-tooltip
		display: none
	&::-webkit-slider-runnable-track, /deep/ #track
		&:before, &:after
			position: relative
			z-index: 2
			top: 0
			left: 0
			width: ($thumb-d - $rRulerLineWidth)/2
			height: 100%
			background: #fff
			content: ''
		&:after
			right: 0
			left: auto
	&::-webkit-slider-thumb, /deep/ #thumb
		&:before
			position: absolute
			top: 50%
			right: 50%
			width: $trackWidth
			transform-origin: 100% 0
			transform: rotate(-45deg) translate($rRulerLineWidth/2, $thumb-d/sqrt(2))
			@include fill()
			color: inheerit
			content: ''
	@for $i from 1 through 4
		&:nth-of-type(#{$i})
			color: nth($rColor, $i)
			&::-ms-fill-lower
				@include fill-i($i)
	&:focus
		outline: none
		opacity: .99

//Chrome Opera
input[type='range']:not(*:root)
	$inputWidth: $trackWidth + $thumb-d - $rRulerLineWidth
	overflow: hidden
	width: $inputWidth
	background-position: ($thumb-d - $rRulerLineWidth)/2 $trackTotalHeight + $trackHeight + $rRulerGap
//IE
_:-ms-input-placeholder, :root input[type='range']
	width: $trackWidth + $thumb-d - $rRulerLineWidth
	background: repeating-linear-gradient(90deg, $rBaseColor, $rBaseColor $rRulerLineWidth, transparent $rRulerLineWidth, transparent $rU) no-repeat $thumb-d/2 $trackTotalHeight + $trackHeight + $rRulerGap content-box
	background-size: $trackWidth $rRulerLineHeight

//nano scroller 
.nano
	position: relative
	width: 100%
	height: 100%
	//overflow: hidden
	> .nano-content
		position: absolute
		overflow: scroll
		overflow-x: hidden
		top: 0
		right: 0
		bottom: 0
		left: 0
		&:focus
			outline: thin dotted
		&::-webkit-scrollbar
			display: none

.has-scrollbar > .nano-content::-webkit-scrollbar
	display: block

.nano
	> .nano-pane
		background: rgba(0, 0, 0, 0.25)
		position: absolute
		width: 10px
		right: 0
		top: 0
		bottom: 0
		visibility: hidden\9
		opacity: .01
		-webkit-transition: .2s
		-moz-transition: .2s
		-o-transition: .2s
		transition: .2s
		-moz-border-radius: 5px
		-webkit-border-radius: 5px
		border-radius: 5px
		> .nano-slider
			background: #444
			background: rgba(0, 0, 0, 0.5)
			position: relative
			margin: 0 1px
			-moz-border-radius: 3px
			-webkit-border-radius: 3px
			border-radius: 3px
	&:hover > .nano-pane
		visibility: visible\9
		opacity: 0.99

.nano-pane
	&.active, &.flashed
		visibility: visible\9
		opacity: 0.99